{% extends "base.html" %} {% block title %}Sign Up{% endblock %}

{% block content %}

<form method="POST" class="row g-3">
  <div class="col-12">
    <label for="firstName" class="form-label">First Name</label>
    <input
    type="text"
    class="form-control"
    id="firstName"
    name="firstName"
    placeholder="First Name">
  </div>
  <div class="col-12">
    <label for="lastName" class="form-label">Last Name</label>
    <input
    type="text"
    class="form-control"
    id="lastName"
    name="lastName"
    placeholder="Last Names">
  </div>
  <div class="col-md-6">
    <label for="email1" class="form-label">Email</label>
    <input
    type="email"
    class="form-control"
    id="email1"
    name="email1"
    placeholder="Email">
  </div>
  <div class="col-md-6">
    <label for="email2" class="form-label">Confirm Email</label>
    <input
    type="email"
    class="form-control"
    id="email2"
    name="email2"
    placeholder="Email">
  </div>
  <div class="col-md-6">
    <label for="password1" class="form-label">Password</label>
    <input
    type="password"
    class="form-control"
    id="password1"
    name="password1"
    placeholder="Password">
  </div>
  <div class="col-md-6">
    <label for="password2" class="form-label">Confirm Passwrod</label>
    <input 
    type="password"
    class="form-control"
    id="password2"
    name="password2"
    placeholder="Password">
  </div>
  <div class="col-12">
    <label for="university" class="form-label">University</label>
    <input
    type="text"
    class="form-control"
    id="university"
    name="university"
    placeholder="University">
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Sign in</button>
  </div>
</form>

{% endblock %}